[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "fglsnet"]
	path = fglsnet
	url = https://github.com/cran/fglsnet
[submodule "keyplayer"]
	path = keyplayer
	url = https://github.com/cran/keyplayer
